<div class="features_items"><!--items-->
    <!--<h2 class="title text-center">Features Items</h2>-->

    <div class="col-sm-4" ng-repeat="item in mdl.products">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img ng-src="{{item.images[0].url}}" alt=""/>

                    <h2>${{item.price}}</h2>

                    <p>{{item.name}}</p>
                    <a class="btn btn-default add-to-cart" ng-click="addToCart(item._id, item)">
                        <i class="fa fa-shopping-cart"></i>Add to cart
                    </a>

                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <a ui-sref="product.detail({id: item._id})"
                           style="font-size: 55px"><i class="fa fa-arrow-circle-o-right"></i></a>

                        <h2>${{item.price}}</h2>

                        <p>{{item.name}}</p>
                        <a class="btn btn-default add-to-cart" ng-click="mdl.addToCart(item._id, item)">
                            <i class="fa fa-shopping-cart"></i>Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a>
                    </li>
                    <!--<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="dataTables_paginate paging_bootstrap_full_number" ng-if="mdl.meta.pageCount>1">
    <pagination total-items="mdl.meta.itemCount"
                ng-model="mdl.page.currentPage"
                max-size="8" class="pagination-sm" boundary-links="true"
                rotate="false" ng-change="mdl.page.changed()"
                items-per-page="mdl.page.pageSize"></pagination>
</div>

<div>
    <h3 ng-if="mdl.meta.itemCount==0">No items found</h3>
</div>
<!--items-->
