<div class="features_items"><!--items-->
    <!--<h2 class="title text-center">Features Items</h2>-->

    <div class="col-sm-4" ng-repeat="item in mdl.products">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img ng-src="{{item.images[0].url}}" alt=""/>

                    <h2>${{item.price}}</h2>

                    <p>{{item.name}}</p>
                    <a class="btn btn-default add-to-cart" ng-click="addToCart(item._id, item)">
                        <i class="fa fa-shopping-cart"></i>Add to cart
                    </a>

                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>${{item.price}}</h2>

                        <p>{{item.name}}</p>
                        <a class="btn btn-default add-to-cart" ng-click="mdl.addToCart(item._id, item)">
                            <i class="fa fa-shopping-cart"></i>Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a>
                    </li>
                    <!--<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>

</div>
<!--items-->
