<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(id, item) in mdl.cartItems">
                    <td class="cart_product">
                        <a href="">
                            <img ng-src="{{item.item.images[0].url}}" alt="" width="110px">
                        </a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">{{item.item.name}}</a></h4>

                        <p>Web ID: {{item.item.sku.split('-',1)[0]}}</p>
                    </td>
                    <td class="cart_price">
                        <p>${{item.item.price}}</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" ng-click="mdl.addQty(id)"
                               href="javascript:void(0)"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity"
                                   value="{{item.qty}}"
                                   autocomplete="off" size="2" disabled>
                            <a href="javascript:void(0)" class="cart_quantity_down"
                               ng-click="mdl.removeQty(id)"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.qty * item.item.price| currency:$:2}}</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete"
                           ng-click="mdl.deleteItem(id)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="do_action">
    <div class="container">

        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>{{cart.getTotal() | currency:$:2}}</span></li>
                        <li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>{{cart.getTotal()+2 | currency:$:2}}</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section>
