<table class="table table-striped table-bordered table-hover dataTable">
    <thead>
    <tr role="row">
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            Is Activate
        </th>
        <th>
            Is Featured
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in mdl.products">
        <td>
            {{product.name}}
        </td>
        <td>

            <img ng-src="{{product.images[0].url}}" width="100px"/>
        </td>
        <td>
            {{product.is_active}}
        </td>
        <td>
            {{product.is_featured}}
        </td>
        <td>
            {{product.qty}}
        </td>
        <td>
            <a ui-sref="seller.product-update({id: product._id})"><i class="fa fa-edit"></i></a>
            <a confirm-click="Are you sure you want to delete?"
               ng-click="mdl.delete(product._id)"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<div class="dataTables_paginate paging_bootstrap_full_number">
    <pagination total-items="mdl.meta.itemCount"
                ng-model="mdl.page.currentPage"
                max-size="8" class="pagination-sm" boundary-links="true"
                rotate="false" ng-change="mdl.page.changed()"
                items-per-page="mdl.page.pageSize"></pagination>
</div>
